body{
  margin : 0;
  background-color: whitesmoke;
  box-sizing: border-box;
}
.container{
  width: 50%;
  margin: 0 auto;
  padding: 5%;
  text-align: center;
}
.sign-form{
  width: 65%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0 auto;
  padding-bottom: 1.5rem;
}
.sign-form form{
  padding: 10%;
  padding-bottom: 6%;
}
.extras{
  width: 65%;
  padding: 5%;
  margin: 0 auto;
  padding-bottom: 0;
}
.box{
  display: flex;
  align-items: center;
}
.back-button{
  width: 100%;
  border-bottom: 1px solid rgb(20, 20, 20);
  background-color: rgb(229, 229, 229);
  text-indent: 7px;
  padding: 7px 0;
  text-align: left;
}
.back-button span{
  cursor: pointer;
}
.back-button span:hover{
  text-decoration: underline;
}
.sign-form label{
  flex-grow: 1;
}
.input-form{
  height: 30px;
  margin: 7px;
  width: 72%;
}
.sign-container{
  width: 45%;
  margin: 0 auto;
  margin-top: 8%;
}
.sign-button{
  height: 35px;
  width: 100%;
  cursor: pointer;
}
.p-sign{
  text-decoration: underline;
  color: #0000EE;
  cursor: pointer;
  margin: 0;
}
.grid{
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: 5% auto;
  justify-content: space-between;
  gap: 25px;
  text-align: center;
}
.grid-item{
  height: 350px;
  width: 300px;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  cursor: pointer;
}
img{
  object-fit: contain;
}
.text{
  text-align: justify;
  font-size: 14px;
}
.eText{
  color: red;
  font-size: 16px;
}
.text pre{
  margin-bottom: 0;
}
.login-error{
  margin: 30px 20px;
}
.center{
  text-align: center;
}
.center pre{
  margin-top: 0;
}
.password{
  text-align: end;
  margin-right: 10px;
  font-size: 15px;
  color: rgb(88, 88, 88);
}
.password span:hover{
  text-decoration: underline;
}
.password span{
  cursor: pointer;
  margin-bottom: 20px;
}