@media screen and (max-width: 1140px) {
  .grid{
    width: 85%;
  }
  .grid-item{
    width: 30%;
  }
}
@media screen and (max-width: 850px) {
  .container{
    width: 90%;
  }
  .grid-item{
    height: 94px;
  }
}
@media screen and (max-width: 758px) {
  .grid{
    width: 70%;
    margin-top: 2rem;
  }
  .grid-item{
    width: 43%;
  }
}
@media screen and (max-width: 550px) {
  .sign-form {
    width: 25rem;
  }
  .grid-item{
    width: 43%;
  }
}
@media screen and (max-width: 475px) {
  .sign-form {
    width: 20rem;
    margin: 0 auto;
  }
  .sign-form form {
    padding: 3rem 1rem .5rem;
  }
  .input-form{
    width: 65%;
  }
  .p-sign, .logout, .eText {
    font-size: 14px;
  }
  .google-button {
    width: 60%;
  }
  .grid{
    width: 80%;
  }
  .grid-item{
    height: 80px;
    font-size: 16px;
    width: 43%;
  }
  .table {
    margin-left: -23px;
    width: 114%;
    table-layout: fixed; 
    word-wrap: break-word; 
  }
  .table th, td {
    padding: .8rem .2rem;
  }
}